.header {
  font-size: 18px;
  width: 1052px;
  height: 105px;
  margin: 92px 24px 96px 24px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
}
.header__menu {
  width: 391.48px;
  height: 22px;
  line-height: 21.13px;
  margin-left: 26.52px;
  margin-top: 8px;
  text-transform: lowercase;
}
.header__links-list {
  display: flex;
  justify-content: space-between;
}
.header__links-list-item {
  list-style-type: circle;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__link_active {
  text-decoration: none;
}
.header__link {
  height: 21px;
  text-decoration: underline;
  text-underline-offset: 0.23em;
}
.header__logo {
  width: 148px;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo-image {
  width: 138px;
  height: 113px;
}
.address {
  margin-right: 24px;
  font-style: normal;
  display: flex;
}
.header .address {
  justify-content: end;
}
.header__address {
  width: 240.52px;
  height: 98px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.01em;
}
.header__address a {
  height: 23px;
  text-decoration: underline;
  text-underline-offset: 0.23em;
  display: block;
}
.header__address p {
  width: 237px;
  height: 49px;
  line-height: 24.3px;
  padding-top: 7px;
  text-decoration: none;
}
.cover {
  background-image: url("../images/cover.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
}
.cover__container {
  padding: 165px 50px 0;
  position: relative;
}
.cover__title {
  width: 1000px;
  height: 355px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}
.aligned-text {
  display: block;
}
.aligned-text_center {
  margin-top: 12px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 5px;
  text-align: right;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.no-letter-spacing {
  letter-spacing: 0;
}
.cover__description {
  padding: 135px 50px 51px 68px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27273;
  text-transform: uppercase;
  word-spacing: 0.83em;
  z-index: 1;
  margin-left: 10px;
}
.bet-button {
  width: 256px;
  height: 51px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: #fff solid 2px;
  z-index: 1;
}
.lots__heading {
  width: 121px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  padding: 179px 0 27px 64px;
  text-transform: uppercase;
}
.lots__card-list {
  margin: 0 24px;
  gap: 26px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.lots__card-list-item {
  flex: 0 0 31.6%;
  outline: 1px solid;
}
.card-link {
  text-decoration: none;
}
.card {
  min-height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  padding: 51px 40px 0px 40px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: #fff;
  z-index: 1;
}
.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 0 40px 48px 40px;
  color: #fff;
  z-index: 1;
}
.card_type_film .card__title {
  padding-bottom: 241px;
}

.card_type_picture .card__title {
  padding-bottom: 95px;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.lots__look-more-link {
  display: block;
  padding: 30px 102px 0 64px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-decoration: underline 0.5px;
  text-underline-offset: 0.23em;
}
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 146px 24px 0 24px;
  height: 595px;
}
.about__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}
.about__column_circle {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 100%;
  display: grid;
}
.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
}
.about__right_column {
  padding: 133px 0 13px 25px;
}
.about__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 100px;
}
.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 180px 50px 88px 50px;
}
.footer .address {
  justify-content: start;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__menu-list {
  text-align: center;
}
.footer__menu-list-item {
  list-style: none;
}
.footer__menu-link_active {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-decoration: none;
}
.footer__menu-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-underline-offset: 0.23em;
}
.footer__social-list {
  display: flex;
  justify-content: end;
}
.footer__social-list-item {
  padding-left: 48px;
  list-style: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
